#!/bin/sh
# Flush out the list before we begin.
ipfw -q -f flush

# Set rules command prefix
cmd="ipfw -q add"
pif="WAN_INTERFACE"     # interface name of NIC attached to Internet

# No restrictions on Loopback Interface
$cmd 00010 allow all from any to any via lo0

# Stateful
$cmd 00101 check-state
$cmd 00102 allow tcp from any to any established via $pif
$cmd 00103 allow all from any to any out via $pif keep-state

# Block sshguard hits
$cmd 00200 reset ip from table\(22\) to me

# Deny all inbound traffic from non-routable reserved address spaces
$cmd 00300 deny log all from 192.168.0.0/16 to any in via $pif     #RFC 1918 private IP
$cmd 00301 deny log all from 172.16.0.0/12 to any in via $pif      #RFC 1918 private IP
$cmd 00302 deny log all from 10.0.0.0/8 to any in via $pif         #RFC 1918 private IP
$cmd 00303 deny log all from 127.0.0.0/8 to any in via $pif        #loopback
$cmd 00304 deny log all from 0.0.0.0/8 to any in via $pif          #loopback
$cmd 00305 deny log all from 192.0.2.0/24 to any in via $pif       #reserved for docs
$cmd 00306 deny log all from 204.152.64.0/23 to any in via $pif    #Sun cluster interconnect
$cmd 00307 deny log all from 224.0.0.0/3 to any in via $pif        #Class D & E multicast

# Deny ident
$cmd 00315 deny log tcp from any to any 113 in via $pif

# Deny all Netbios services.
$cmd 00320 deny log tcp from any to any 137 in via $pif
$cmd 00321 deny log tcp from any to any 138 in via $pif
$cmd 00322 deny log tcp from any to any 139 in via $pif
$cmd 00323 deny log tcp from any to any 81 in via $pif

# Deny fragments
$cmd 00330 deny log all from any to any frag in via $pif

# Deny ACK packets that did not match the dynamic rule table
$cmd 00332 deny log tcp from any to any established in via $pif

# Deny established not from an existing dynamic rule
$cmd 00334 deny tcp from any to any established in via $pif

############################## Allowing inbound connections ##############################
# Only tcp connections can have the 'setup' flag. 
# With ip or udp just use limit src-addr 2 or keep-state.
# So, tcp is `setup limit src-addr 2` (limit each person to 2 connections, limit implies
# keep-state already).
# For udp or others (`ip` covers ALL packets) use `limit src-addr 2`.
##########################################################################################

# Allow inbound SSH connections
$cmd 00410 allow tcp from any to any 22 in via $pif setup limit src-addr 2

# Allow Signal proxy ports
$cmd 00420 allow tcp from any to any 80 keep-state
$cmd 00421 allow tcp from any to any 443 keep-state
$cmd 00422 allow tcp from any to any 4433 keep-state

# Allow ICMP
$cmd 00450 allow icmp from any to any in via $pif keep-state # Incoming ping IPv4
$cmd 00460 allow icmp from any to any out via $pif keep-state # Outgoing ping IPv4
$cmd 00470 allow ipv6-icmp from any to any in via $pif keep-state # Incoming ping IPv6
$cmd 00480 allow ipv6-icmp from any to any out via $pif keep-state # Outgoing ping IPv6

$cmd 60000 deny log all from any to any

ipfw list
